.cards{
    width:300px;
    height :550px;
    border:1px solid black;
    text-align: center;
    padding: 10px;
    margin-left: 100px;
    margin-top: 100px;
    float:left;
    background-color: white;
    font-family: cursive;
    color: black;
  border-radius:8px;
  background-image: linear-gradient(-255deg,rgb(240, 158, 240)0%, rgb(184, 69, 184) 48%, rgb(203, 13, 203) 100%);
  overflow: hidden;

   
}
p{
    color:black;
}
.cards:hover{
    box-shadow:  3px 4px 6px white ;
}

button{
    margin-top: 20px;
}
p{
    margin-top: 50px;
}
button:hover{
    background-color: rgb(90, 62, 28);
}
h1{
    text-shadow: 3px 4px 5px rgb(188, 161, 161);
}
.img{
    border:1px solid black;
    border-radius: 50% 50%;
    overflow: hidden;
    width : 250px;
    height: 250px;
    margin-left: 100px;
    background-size: cover;
}
.im1{
    text-align: left;
    
}